<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Garage Sale Calculator</title>
  <link rel="stylesheet" type="text/css" href="style/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">
</head>
<body>
  <h1 id="title">Garage Sale Calculator</h1>

  <a href="/">Home</a>
  <a href="/custom">Custom Template</a>

  <ul>
    <li>
      <h3>Near New</h3>
      <p>In great condition, maybe missing packaging = 30% off current retail price</p>
    </li>

    <li>
      <h3>Lightly Used</h3>
      <p>Slightly worn/Used = 40% off current retail price</p>
    </li>

    <li>
      <h3>Moderatetly Used</h3>
      <p>Some damage, does not affect function = 50% off current retail price</p>
    </li>

    <li>
      <h3>Heavily Used</h3>
      <p>Damage impairs use, needs parts or repairs = 60% off current retail price</p>
    </li>
  </ul>

</body>
</html>