<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Garage Sale Calculator</title>
  <link rel="stylesheet" type="text/css" href="style/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">
</head>
<body>
  <h1 id="title">Garage Sale Calculator</h1>

  <a href="/custom">Custom Template</a>


  <details>
    <summary>Level of Wear Details</summary>
    <ul>
      <li>
        <h3>Near New</h3>
        <p>In great condition, maybe missing packaging = 30% off current retail price</p>
      </li>
  
      <li>
        <h3>Lightly Used</h3>
        <p>Slightly worn/Used = 40% off current retail price</p>
      </li>
  
      <li>
        <h3>Moderatetly Used</h3>
        <p>Some damage, does not affect function = 50% off current retail price</p>
      </li>
  
      <li>
        <h3>Heavily Used</h3>
        <p>Damage impairs use, needs parts or repairs = 60% off current retail price</p>
      </li>
    </ul>
  </details>

  <div id="container">
    <form name="calculate" id="calculate-form" action="javascript:void(0)">

      <!-- <label for="department" id="label">Department</label>
      <select name="department" id="department">
        <option value="mens-footwear">Men's Footwear</option>
        <option value="womens-footwear">Women's Footwear</option>
        <option value="mens-outerwear">Men's Outerwear</option>
        <option value="womens-outerwear">Women's Outerwear</option>
        <option value="mens-fitness">Men's Fitness</option>
        <option value="womens-fitness">Women's Fitness</option>
        <option value="mens-casual">Men's Casual</option>
        <option value="womens-casual">Women's Casual</option>
        <option value="mens-cycle-clothing">Men's Cycle Clothing</option>
        <option value="womens-cycle-clothing">Women's Cycle Clothing</option>
        <option value="camp-gear">Camp Gear</option>
        <option value="travel">Travel</option>
      </select> -->

      <label id="label">Percentage Range</label>
      
      <input type="radio" id="range_1" name="range_1" value="range_1">
      <label id="label">30%-70%</label>

      <input type="radio" id="range_2" name="range_2" value="range_2">
      <label id="label">40%-80%</label>

      <label for="level-of-wear" id="label">Level of Wear</label>
      <select name="level-of-wear" id="level-of-wear">
        <option value="near-new">Near New</option>
        <option value="lightly-used">Lightly Used</option>
        <option value="moderately-used">Moderately Used</option>
        <option value="heavily-used">Heavily Used</option>
      </select>

      <label for="price" id="label">Price</label>
      <input type="number" min="0" step="any" id="price">

      <button id="calculate" type="submit">Enter</button>
    </form>
  </div>
  <div id="GS-price">

  </div>
  <script src="js/script.js"></script>
</body>
</html>